@import url("https://fonts.googleapis.com/css?family=DynaPuff");

body {
  font-family: 'DynaPuff';
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 1rem;
  row-gap: 6vh;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2vh;
}

.scoreboard {
  gap: 0vw;
}

#scores {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  height: 3vw;
  align-items: center;
}

p {
  margin: 0;
}

.score-board-title {
  text-decoration: underline;
}

#status {
  font-size: 1rem;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  width: min(50vw, 50vh);
  height: min(50vw, 50vh);
  gap: 1vw;
  padding: 2vh;
}

.cell {
  font-family: 'DynaPuff';
  cursor: pointer;
  width: min(15vw, 15vh);
  height: min(15vw, 15vh);
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background: white;
  border: 0.2rem solid black;
  box-shadow: 0.2rem 0.2rem;
  border-radius: 0.8rem;
  transition: 0.3s ease;
}

.cell:disabled, .cell:hover {
  box-shadow: 0.1rem 0.1rem gray;
}

.won {
  background-color: lightgreen;
}

#reset-button {
  font-family: 'DynaPuff';
  cursor: pointer;
  width: min(20vw, 20vh);
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem;
}

#reset-button:hover {
  box-shadow: 0.07rem 0.07rem gray;
  transition: 0.1s ease;
}

footer {
  text-align: right;
  margin-right: 30vw;
  font-size: 1rem;
}
